<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Demo </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list>
      <ion-item *ngFor="let student of students;  let index = index">
        <ion-label>{{student.name}}</ion-label>
        <ion-badge [color]="student.grade < 10 ? 'danger' : 'secondary'"
          >{{student.grade}}</ion-badge
        >
        <ion-button routerLink="/student/{{student.id}}">Info</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
